datacenter = "dc1"
data_dir = "/var/lib/consul"
ui = true

bind_addr = "0.0.0.0"
client_addr = "0.0.0.0"
advertise_addr = "{{ private_network_ip }}"

ports {
    dns = 8600
    http = 8500
    grpc = 8502
}

{% if consul_server %}
server = true
bootstrap_expect = {{ groups['consul_servers'] | length }}
{% endif %}

retry_join = ["{{ groups['consul_servers'] | map('extract', hostvars, ['private_network_ip']) | list | difference([hostvars[inventory_hostname]['private_network_ip']]) | join('","') }}"]
retry_interval = "10s"

connect {
  enabled = true
}
