data_dir  = "/var/lib/nomad"
bind_addr = "0.0.0.0"

advertise {
  http = "{{ private_network_ip }}"
  rpc  = "{{ private_network_ip }}"
  serf = "{{ private_network_ip }}"
}

consul {
  address = "127.0.0.1:8500"
}

{% if nomad_server %}
server {
  enabled = true
  bootstrap_expect = 3

  server_join {
    retry_join = ["{{ groups['nomad_servers'] | map('extract', hostvars, ['private_network_ip']) | list | difference([hostvars[inventory_hostname]['private_network_ip']]) | join('","') }}"]
    retry_interval = "10s"
  }
}
{% endif %}

client {
  enabled = true
  network_interface = "{{ nomad_network_interface }}"
}
