data_dir  = "/var/lib/nomad"
bind_addr = "0.0.0.0"

advertise {
  http = "{{ private_network_ip }}"
  rpc  = "{{ private_network_ip }}"
  serf = "{{ private_network_ip }}"
}

consul {
  address = "127.0.0.1:8500"
}

{% if nomad_server %}
server {
  enabled = true
  bootstrap_expect = 1
}
{% endif %}

client {
  enabled = true
  network_interface = "{{ nomad_network_interface }}"

{% if nomad_server %}
  meta {
    "for_systems" = true
  }
{% endif %}
}
