global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  insecure: true
  dashboard: true

tls:
  certificates:
    - certFile: /var/lib/traefik/awanku_id.crt
      keyFile: /var/lib/traefik/awanku_id.key
  stores:
    default:
      defaultCertificate:
        certFile: /var/lib/traefik/awanku_id.crt
        keyFile: /var/lib/traefik/awanku_id.key
  options:
    default:
      preferServerCipherSuites: true
      minVersion: VersionTLS12
      sniStrict: true
      curvePreferences:
        - CurveP521
        - CurveP384
      cipherSuites:
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_CHACHA20_POLY1305_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256

entryPoints:
  http:
    address: "{{ ansible_host }}:80"
    transport:
      respondingTimeouts:
        readTimeout: 600
        writeTimeout: 600
        idleTimeout: 600
  https:
    address: "{{ ansible_host }}:443"
    transport:
      respondingTimeouts:
        readTimeout: 600
        writeTimeout: 600
        idleTimeout: 600

providers:
  consulCatalog:
    exposedByDefault: false
  consul: {}
  file:
    filename: /etc/traefik/traefik.yml

log:
  level: WARN
