global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  insecure: true
  dashboard: true

entryPoints:
  http:
    address: "{{ ansible_host }}:80"
  https:
    address: "{{ ansible_host }}:443"

providers:
  consulCatalog:
    exposedByDefault: false
  consul: {}

certificatesResolvers:
  gratisan:
    acme:
      email: arba.sasmoyo@gmail.com
      storage: /var/lib/traefik/acme.json
      httpChallenge:
        entryPoint: http

accessLog: {}

log:
  level: DEBUG
