global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  insecure: true
  dashboard: true

tls:
  options:
    default:
      preferServerCipherSuites: true
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_CHACHA20_POLY1305_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256

entryPoints:
  http:
    address: "{{ ansible_host }}:80"
    transport:
      respondingTimeouts:
        readTimeout: 30
        writeTimeout: 30
        idleTimeout: 30
  https:
    address: "{{ ansible_host }}:443"
    transport:
      respondingTimeouts:
        readTimeout: 30
        writeTimeout: 30
        idleTimeout: 30

providers:
  consulCatalog:
    exposedByDefault: false
  consul: {}

certificatesResolvers:
  gratisan:
    acme:
      email: arba.sasmoyo+awanku@gmail.com
      storage: /var/lib/traefik/acme.json
      httpChallenge:
        entryPoint: http

accessLog: {}

log:
  level: WARN
